<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="utLocation"  value="server"/>
    <add key="utUser"  value="Шестаков Геннадий"/>
    <add key="utPassword" value="123456" />
    <add key="utServer"  value="co-utapp"/>
    <add key="utDatabase" value="utora_real"/>
    <add key="ConnectionString" value="Server=netolap2;Database=dbVitmarktemp;User ID=vm_owner;Password=jnnj38dfkmnth;Trusted_Connection=False;"/>
  </appSettings>
</configuration>