<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="utLocation" value="server" />
    <add key="utUser" value="Пользователь" />
    <add key="utPassword" value="123456" />
    <add key="utServer" value="25.106.227.22" />
    <add key="utDatabase" value="v82base" />
    <!--<add key="ConnectionString" value="Server=winserver;Database=MobileDb;User ID=umobile;Password=Qwerty12345678;Trusted_Connection=False;"/>-->
  <add key="ConnectionString" value="Server=SHESTAKOVG-DELL\SQLEXPRESS;Database=MobileDb;Integrated Security=SSPI" />
  </appSettings>
  <system.serviceModel>
    <client>
        <endpoint address="http://localhost:8100/Location/loc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILocation" contract="ServiceReference1.ILocation" name="WSHttpBinding_ILocation">
        <identity>
          <userPrincipalName value="SHESTAKOVG-DELL\shest" />
        </identity>
      </endpoint>
    </client>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ILocation" />
      </wsHttpBinding>
      <webHttpBinding>
        <binding name="webHttpBindingConfig">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="AppSvcBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="_1C.V8.Data" publicKeyToken="a2a389ea4bbb4a49" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.13.1" newVersion="8.0.13.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>