# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.suo
# Windows shortcuts
*.lnk
*.suo
# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/TradeServices/ConsoleHostTS/bin/Debug/CommonClasses.dll
/TradeServices/ConsoleHostTS/bin/Debug/ConsoleHostTS.exe
/TradeServices/ConsoleHostTS/bin/Debug/ConsoleHostTS.exe.config
/TradeServices/ConsoleHostTS/bin/Debug/ConsoleHostTS.pdb
/TradeServices/ConsoleHostTS/bin/Debug/ConsoleHostTS.vshost.exe
/TradeServices/ConsoleHostTS/bin/Debug/ConsoleHostTS.vshost.exe.config
/TradeServices/ConsoleHostTS/bin/Debug/ConsoleHostTS.vshost.exe.manifest
/TradeServices/ConsoleHostTS/bin/Debug
/TradeServices/ConsoleHostTS/bin/Debug/1cv8.dll
/TradeServices/ConsoleHostTS/bin/Debug/DataBaseUtils.dll
/TradeServices/ConsoleHostTS/bin/Debug/Enterra.V8x1C.dll
/TradeServices/ConsoleHostTS/bin/Debug/TradeServices.dll
/TradeServices/ConsoleHostTS/bin/Debug/_1C8Trade_Srv.dll
/TradeServices/ConsoleHostTS/bin/Debug/_1CUtilsEnterra.dll
/TradeServices/ConsoleHostTS/obj/Debug
/TradeServices/ConsoleHostTS/obj/Debug/ConsoleHostTS.csproj.FileListAbsolute.txt
/TradeServices/ConsoleHostTS/obj/Debug/ConsoleHostTS.csprojResolveAssemblyReference.cache
/TradeServices/ConsoleHostTS/obj/Debug/ConsoleHostTS.exe
/TradeServices/ConsoleHostTS/obj/Debug/ConsoleHostTS.pdb
/TradeServices/ConsoleHostTS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/TradeServices/ConsoleHostTS/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/TradeServices/ConsoleHostTS/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/TradeServices/ConsoleHostTS/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/TradeServices/TradeServiceHost/obj/Debug
/TradeServices/TradeServiceHost/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/TradeServices/TradeServiceHost/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/TradeServices/TradeServiceHost/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/TradeServices/TradeServiceHost/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/TradeServices/TradeServiceHost/obj/Debug/TradeServiceHost.csproj.FileListAbsolute.txt
/TradeServices/TradeServiceHost/obj/Debug/TradeServiceHost.csproj.GenerateResource.Cache
/TradeServices/TradeServiceHost/obj/Debug/TradeServiceHost.csprojResolveAssemblyReference.cache
/TradeServices/TradeServiceHost/obj/Debug/TradeServiceHost.ProjectInstaller.resources
/TradeServices/TradeServices/bin
/TradeServices/TradeServices/bin/1cv8.dll
/TradeServices/TradeServices/bin/CommonClasses.dll
/TradeServices/TradeServices/bin/DataBaseUtils.dll
/TradeServices/TradeServices/bin/Enterra.V8x1C.dll
/TradeServices/TradeServices/bin/_1C8Trade_Srv.dll
/TradeServices/TradeServices/bin/_1CUtilsEnterra.dll
/TradeServices/UnitTestTradeService/bin/Debug
/TradeServices/UnitTestTradeService/bin/Debug/1cv8.dll
/TradeServices/UnitTestTradeService/bin/Debug/CommonClasses.dll
/TradeServices/UnitTestTradeService/bin/Debug/DataBaseUtils.dll
/TradeServices/UnitTestTradeService/bin/Debug/Enterra.V8x1C.dll
/TradeServices/UnitTestTradeService/bin/Debug/TradeServices.dll
/TradeServices/UnitTestTradeService/bin/Debug/TradeServices.pdb
/TradeServices/UnitTestTradeService/bin/Debug/UnitTestTradeService.dll
/TradeServices/UnitTestTradeService/bin/Debug/UnitTestTradeService.dll.config
/TradeServices/UnitTestTradeService/bin/Debug/UnitTestTradeService.pdb
/TradeServices/UnitTestTradeService/bin/Debug/_1C8Trade_Srv.dll
/TradeServices/UnitTestTradeService/bin/Debug/_1CUtilsEnterra.dll
/TradeServices/UnitTestTradeService/obj/Debug
/TradeServices/UnitTestTradeService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/TradeServices/UnitTestTradeService/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/TradeServices/UnitTestTradeService/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/TradeServices/UnitTestTradeService/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/TradeServices/UnitTestTradeService/obj/Debug/UnitTestTradeService.csproj.FileListAbsolute.txt
/TradeServices/UnitTestTradeService/obj/Debug/UnitTestTradeService.csprojResolveAssemblyReference.cache
/TradeServices/UnitTestTradeService/obj/Debug/UnitTestTradeService.dll
/TradeServices/UnitTestTradeService/obj/Debug/UnitTestTradeService.pdb
