<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="utLocation" value="file" />
    <add key="utUser" value="Пользователь" />
    <add key="utPassword" value="123456" />
    <add key="utServer" value="co-utapp" />
    <add key="utDatabase" value="C:\Users\shestakov.g\Documents\InfoBase" />
    <add key="processOrders" value="false" />
    <add key="versionDir" value="c:\Users\g.shestakov\Documents\GitHub\VS\VS\TradeServices\TradeServiceHost\bin\Debug" />
    <add key="ConnectionString" value="Server=netolap2;Database=dbVitmarktemp;User ID=vm_owner;Password=jnnj38dfkmnth;Trusted_Connection=False;" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="TradeServices.Dictionary">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost/SIntegration" />
            <add baseAddress="http://localhost:8100/Dictionary/" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="webHttpBinding" contract="TradeServices.IDictionary" />
      </service>
     
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="default" maxReceivedMessageSize="5000000">
          <readerQuotas maxStringContentLength="5000000" maxArrayLength="5000000" />
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="_1C.V8.Data" publicKeyToken="a2a389ea4bbb4a49" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.13.1" newVersion="8.0.13.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>