<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
      <add key ="utLocation" value="file"/>
      <add key ="utUser" value="Пользователь"/>
      <add key="utPassword" value ="123456"/>
      <add key ="utServer" value="co-utapp"/>
      <add key="utDatabase" value="d:\D\1C\unic\"/>
      <add key="ConnectionString" value="Server=netolap2;Database=dbVitmarktemp;User ID=vm_owner;Password=jnnj38dfkmnth;Trusted_Connection=False;"/>
    </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5"/>
    </system.web>
    <system.serviceModel>
      <services>
        <service name="TradeServices.Dictionary" >
          <host>
            <baseAddresses>
              <add baseAddress="net.tcp://localhost/SIntegration"/>
              <add baseAddress="http://localhost:8100/Dictionary/"/>
            </baseAddresses>
          </host>
          <endpoint address="" binding="webHttpBinding" contract="TradeServices.IDictionary" />
        </service>
      </services>
      <bindings>
        <webHttpBinding>
          <binding name="default" maxReceivedMessageSize="5000000">
            <readerQuotas maxStringContentLength="5000000" maxArrayLength="5000000" />
          </binding>
        </webHttpBinding>
      </bindings>
    </system.serviceModel>
</configuration>