
body {
    padding-top: 0px;
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 0px;
    background: linear-gradient(50deg, #EECFBA, #C5DDE8);
    /*background-color: #eee;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 50px;
    /*padding-right: 10px;*/
    /*background-color: #eee;*/
    /*height: 200px;*/
    /*margin-right: 170px;*/
}

 .right bar
 {
    /*background-color: #ddd;*/
    float: left;
    width: 150px;
 }
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

thead {
    background-color:darkgrey;
    color: black;
    font-size:15px;
    text-align:left;
     font-weight: bold;
}
table{
     border: 2px ridge grey;
     border-collapse: collapse ;
     width: 100%;
}
 td, th {
     border: 1px ridge grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:12px;
    padding-left: 5px;
    padding-right: 5px;
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    /*height: 35px;*/
    align-content: space-around
}

a.checkinbtn
{
    background: url("http://maps.google.com/mapfiles/ms/icons/blue-dot.png") no-repeat top left;
     display: block;
     width: 50px;
     height: 50px;
     text-indent: -9999px; /* hides the link text */
}

.uloutlets
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:12px;
    color: gray;
    background-color:white;
}


.outletInfo {
    height: auto;
    width: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:12px;
    font-weight: bold;
    color: black;
}

input.expcollapse {
    width:20px;  height: 18px;
    font-size:8px;
    -moz-border-radius:  4px; /* Firefox */
    -webkit-border-radius:  4px; /* Safari 4 */
    border-radius:  4px;
}

._64a{
    position:relative;
    top:-12px}
._64b{padding-top:12px;z-index:1}



.nav navbar-nav {
    font-size: 100%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.uloutletlist{
     background-color:inherit;
     color:inherit;
     font-size: 78%;
     
}

.tripCaption
{
    font-size: 60%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    text-align: right;
}

.loadingDiv
{
    display:none; color:blue; font-weight:bold;
}

.loadingFailedDiv
{
    display:none; color:red; font-weight:bold;
}