
@{
    ViewBag.Title = "Удалить учетную запись";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Удалить учетную запись</h2>
<form method="post">
    <h2>Вы уверены, что хотите удалить   учетную запись?</h2>
    <button type="submit">Да</button>
</form>
