<?xml version="1.0"?>
<configuration>

  <configSections>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="utLocation" value="file"/>
    <add key="utUser" value="Пользователь"/>
    <add key="utPassword" value="123456"/>
    <add key="utServer" value="25.106.227.22"/>
    <add key="utDatabase" value="C:\Users\shestakov.g\Documents\InfoBase"/>
    <add key="versionDir" value="C:\Users\shestakov.g\Documents\InfoBase"/>
    <add key="processOrders" value="true" />
    <add key="ConnectionString" value="Server=25.106.227.22;Database=MobileDb;User ID=umobile;Password=Qwerty12345678;Trusted_Connection=False;"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="TradeServices.Dictionary" behaviorConfiguration="serviceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="TradeServices.IDictionary" behaviorConfiguration="web">
        </endpoint>
      </service>
    </services>  
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>


 <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="_1C.V8.Data" publicKeyToken="A2A389EA4BBB4A49" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.13.1" newVersion="8.0.13.1"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
